<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
href="lib/bower_components/angular-material/angular-material.css">
<title></title>
</head>
<body layout="column" ng-app='photoreview-e2e' ng-controller='AppController as app'>

<md-toolbar layout="row">
<div class="md-toolbar-tools">
    <span>Gallery App</span>
    <span flex>&nbsp;</span>
    <a target="_blank" href="https://github.com/krimple/angular-new-router-demo-galleries">github repo</a>
    <span flex>&nbsp;</span>
    <a target="_blank" href="http://chariotsolutions.com/tags/new-router-tutorials/">blog posts</a>
</div>
</md-toolbar>
<div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
                class="md-whiteframe-z2">
    <md-content flex role="navigation" ng-controller="GalleryDataController as data">
        <a ng-link="galleries()">Galleries</a>
        <ul ng-if="data.galleries.length > 0">
            <li ng-repeat="gallery in data.galleries">
              <a ng-link="gallery({ id: $index })">{{ gallery.title }}</a>
            </li>
        </ul>
    </md-content>
   </md-sidenav>
   <md-content flex class="md-padding"><ng-viewport></ng-viewport></md-content>
</div>

<script src="lib/bower_components/underscore/underscore.js"></script>
<script src="lib/bower_components/angular/angular.js"></script>
<script src="lib/bower_components/angular-animate/angular-animate.js"></script>
<script src="lib/bower_components/angular-aria/angular-aria.js"></script>
<script src="lib/bower_components/angular-material/angular-material.js"></script>
<script src="lib/bower_components/angular-new-router/dist/router.es5.js"></script>
<script src="app/photo-review-app.js"></script>
<script src="app/components/galleries/galleries.js"></script>
<script src="app/components/gallery/gallery.js"></script>
<script src="app/controllers/gallery-data-controller.js"></script>
<script src="app/services/gallery-repository-service.js"></script>
</body>
</html>
